<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MovieSetArtworkFolder" value="C:\Movies\_Artwork" />

    <add key="VideoFileExtensions" value=".mkv, .wmv, .mov, .avi" />
    <add key="KnownVideoCodecs" value="" />
    <add key="KnownAudioCodecs" value="" />
  </appSettings>
</configuration>